{% extends "layout.html" %}

{% block content %}

    <div class="container">

        <h1>Lista de Tareas</h1>
        <ul>
          {% for tarea in tareas %}
            <li>{{ tarea.titulo }} - {{ tarea.fecha_limite }}</li>
          {% empty %}
            <p>No hay tareas disponibles</p>
          {% endfor %}
        </ul>
        
        {% for proyecto in proyectos %}
            <a href="{% url 'crear_tarea' proyecto_id=proyecto.id %}">Crear Nueva Tarea para {{ proyecto.nombre }}</a>
        {% endfor %}

    </div>

{% endblock %}
